.header-container {
  @include flex($wrap: nowrap, $justify: space-between);
  max-width: 1350px;
  width: 100%;
  height: 45px;
  margin: 40px auto 0;
}
.navigation {
  position: relative;
}
.switch-menu {
  input {
    position: absolute;
    width: 40px;
    height: 40px;
    top: -7px;
    opacity: 0.5;
    z-index: 3;
    cursor: pointer;
  }
  span {
    display: block;
    position: relative;
    width: 38px;
    height: 5px;
    background: #cdcdcd;
    border-radius: 3px;
    margin-bottom: 5px;
    z-index: 2;
  }
}

.menu {
  @include flex($wrap: nowrap, $direction: column, $justify: start, $align: start);
  @include font(2.5rem,700);
  @extend %game-horizontal-gradient;
  position: absolute;
  width: 380px;
  height: calc(100vh + 100px);
  color: $color-white;
  padding: 150px 50px 50px 150px;
  top: -100px;
  left: -100px;
  z-index: 1;
  
  a {
    color: $color-white;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 15px;
    
  }
}
.hidden {
  display: none;
}
.switch-mode-container {
  @extend %game-horizontal-gradient;
  @extend %transition;
  display: inline-block;
  position: relative;
  width: 120px;
  height: 40px;
  padding: 3px;
  border-radius: 5px;
  border: 1px #808080 solid;
  cursor: pointer;
    &:hover {
      box-shadow: 0 0 10px rgba(0,0,0,0.5);;

    }
  
  .switch-mode {
    @include font(2rem, 700);
    position: absolute;
    text-transform: uppercase;
    color: $color-white;
    padding-top: 6px;
    &::before {
      padding-left: 7px;
      content: 'train';
    } 
    &::after {
      content: 'play';
      opacity: 0;
      padding-left: 10px;
    } 
  }

  .switch-handle {
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: $color-white;
    border-radius: 3px;
    left: 80px;
    @extend %transition;
    &::after {
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #f9f9f9;
      top: 50%; 
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &::before {
      content: '';
      left: 0px;
    }
  }
}



