html {
  font-size: 10px;
}
body {
  @extend %font-standard;
  @include font();
}
.wrapper {
  margin: 0 10px;
}

.train-color-horizontal {
  background: linear-gradient(-120deg, $primary-train-color, $second-train-color)
}
.train-color-vertical {
  background: linear-gradient(180deg, $primary-train-color, $second-train-color 40%, $color-white 0)
}

