html {
  font-size: 10px;
}
body {
  @extend %font-standard;
  @include font();
}
.wrapper {
  margin: 0 10px;
}

.train-color {
  background: linear-gradient(-120deg, $primary-train-color, $second-train-color)
}

